header{
  background-image: url('https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Sofia;
  color: black;
  padding: 40px 400px 40px 600px;
  padding-bottom: 50px;
  height: 100px;
  font-size: 200%;
  float:top;
  position:relative;
}
.overlay{
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  height:100%;
  right:0;
  bottom:0;
  padding: 0;
  margin:0;
  background-color: rgba(10,10,10,0,3);
}
nav{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}
nav li{
  list-style: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
nav li span{
  padding-left: 5px;
}
li a{
  padding: 5px;
  background-color: #fff;
  text-decoration: none;
}
.cart a{
  background-color: #ff9900;
  color: #fff;
  cursor:pointer;
  text-decoration: none;
  font-size:50%;
}
.grid-container{
	margin-left:80px;
	margin-top:20px;
	display: grid;
	grid-template-columns: auto auto auto;
	overflow-y: scroll;
}
img{
	width:250px ;
	height: 250px;
	margin-left:20px;
	margin-top: 8px;
	transition: transform .5s;
	object-fit: cover;
	cursor:zoom-in;
}

img:hover{
transform: scale(1.5); 
}
#img1,#img4{
	margin-left:150px;
border-style: ridge;
border-color: rgba(201, 76, 76, 0.3);
margin-top: 20px;
width: 300px;
height: 432px;
text-align: absolute;
}
.price{
	font-size: 1.2rem;
	color:blue;
	text-align: center;

}


#menmilitaryjacket,#greenblackbluestreetwear{
	bottom: 1.5rem;
  width: 100%;
  padding: 4px;
  background-color: black;
  color: white;
  cursor:pointer;
  border-radius: 5px;
  box-shadow: 0 4px #999;
}
#img2,#img5{
margin-left:100px;
border-style: ridge;
border-color: rgba(201, 76, 76, 0.3);
margin-top: 20px;
width: 300px;
height: 432px;
text-align: absolute;
}
#img3,#img6{
margin-left:100px;
border-style: ridge;
border-color: rgba(201, 76, 76, 0.3);
margin-top: 20px;
width: 300px;
height: 432px;
text-align: absolute;

}

#bomberjacket,#corduroyjacket{
	 bottom: 1.5rem;
  width: 100%;
  padding: 4px;
  background-color: black;
  color: white;
  cursor:pointer;
  border-radius: 5px;
  box-shadow: 0 4px #999;
}
#men'srippedhoodeddenimjacket,#loosemen'ssportswearjacket{
bottom: 1.5rem;
  width: 100%;
  padding: 4px;
  background-color: black;
  color: white;
cursor:pointer;
  border-radius: 5px;
  box-shadow: 0 4px #999;
}
#loosemen'ssportswearjacket:hover,#corduroyjacket:hover,#bomberjacket:hover,#men'srippedhoodeddenimjacket:hover,#menmilitaryjacket:hover,#greenblackbluestreetwear:hover{
background-color: #3e8e41;
}
u#loosemen'ssportswearjacket:active,#corduroyjacket:active,#bomberjacket:active,#men'srippedhoodeddenimjacket:active,#menmilitaryjacket:active,#greenblackbluestreetwear:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#bottom{
	bottom: 1.5rem;
  width: 40%;
  padding: 4px;
  background-color: black;
  color: white;
cursor:pointer;
  border-radius: 5px;
  box-shadow: 0 4px #999;

}
#bottom:hover{
	background-color: #3e8e41;
}
#bottom:active{
	background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}